<div class="p-6 max-w-xl mx-auto bg-white rounded-xl flex items-center gap-x-4 shadow-2xl">
    <div class="shrink-0">
        <img class="size-12" src="/assets/images/test.jpg" alt="test img">
    </div>
    <div>
        <div class="text-xl font-medium text-black">{{@title}}</div>
        <p class="text-slate-500">{{@description}}</p>
    </div>
</div>

{{yield}}