{{page-title "TechTalk"}}
<div class="p-4 flex justify-between w-full">
    <button class="bg-sky-700 text-white p-2 rounded-lg" {{on "click" this.previousStep}}>Previous</button>
    <button class="bg-sky-700 text-white p-2 rounded-lg" {{on "click" this.nextStep}}>Next</button>
</div>
{{outlet}}