<Step
    @title = "Custom Styles"
    @description = "Tailwind offers a way to break out of default constraints by creating custom themes."
/>
<div class="pl-4 mb-16 w-1/2 flex flex-col space-y-4 items-start">
    <Card
        @title = "Customizing your theme"
        @description = "If you want to change things like your color pallet, spacing scale, or breakpoints, you can edit your tailwind.config.js file."
        @noRender = "true"
        @code1 =
"
/** @type {import('tailwindcss').Config} */
module.exports = {
  theme: {
    screens: {
      sm: '480px',
      md: '768px',
      lg: '976px',
      xl: '1440px',
    },
    colors: {
      'blue': '#1fb6ff',
      'pink': '#ff49db',
      'orange': '#ff7849',
      'green': '#13ce66',
      'gray-dark': '#273444',
      'gray': '#8492a6',
      'gray-light': '#d3dce6',
    },
    fontFamily: {
      sans: ['Graphik', 'sans-serif'],
      serif: ['Merriweather', 'serif'],
    },
    extend: {
      spacing: {
        '128': '32rem',
        '144': '36rem',
      },
      borderRadius: {
        '4xl': '2rem',
      }
    }
  }
}"
    />
</div>